:root {
  --primary-color: #97fb57;
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
.slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/background-image.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}
nav {
  display: flex;
  justify-content: space-between;
}
.gym-name {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;
}
.left-logo {
  display: flex;
  color: #ffffff;
}
.logo {
  filter: invert(46%) sepia(98%) saturate(348%) hue-rotate(67deg)
    brightness(106%) contrast(101%);
}
ul {
  list-style-type: none;
}
li {
  float: left;
  color: var(--text-color);
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
}
li:hover {
  color: var(--primary-color);
}
.trial-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 6.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: #121212;
  transition: all 0.2s ease-in-out;
}

.trial-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}
.main-head {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 180px;
}
.green {
  color: var(--primary-color);
}
.main-tag,
.main-tag-descrip {
  color: var(--text-color);
}
.main-tag {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
}
.main-tag-descrip {
  font-size: 20px;
  font-weight: 600;
}
.mid-top {
  padding: 16px 20px;
  border-radius: 6.25rem;
  background-color: var(--primary-color);
  color: #121212;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
}
.mid-top:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  transition: all 0.3s ease-in-out;
}
.white-star {
  filter: brightness(0) invert(1);
}
.review-main {
  padding-top: 80px;
}
.number-circle {
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 7px;
  font-weight: 600;
}
.review-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
}
.review-main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.review-star-img,
.number-review-circle,
.review {
  padding: 10px;
}
.first-top-review {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.round-img img {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  border-radius: 50%;
  padding-right: 10px;
}
.review-des {
  font-size: 16px;
  font-weight: 500;
}
