:root {
  --primary-color: #97fb57;
  --background-color: #121212;
  --text-color: #ffffff;
  --decor-color: #626e54;
  --second-background-color: #5f7252;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
.slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/background-image.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}
nav {
  display: flex;
  justify-content: space-between;
}
.gym-name {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;
}
.left-logo {
  display: flex;
  color: #ffffff;
}
.footer-logo {
  filter: invert(46%) sepia(98%) saturate(348%) hue-rotate(67deg)
    brightness(106%) contrast(101%);
}
ul {
  list-style-type: none;
}
li {
  float: left;
  color: var(--text-color);
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
}
li:hover {
  color: var(--primary-color);
}
.trial-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 6.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: #121212;
  transition: all 0.2s ease-in-out;
}

.trial-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}
.main-head {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 180px;
}
.green {
  color: var(--primary-color);
}
.main-tag,
.main-tag-descrip {
  color: var(--text-color);
}
.main-tag {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
}
.main-tag-descrip {
  font-size: 20px;
  font-weight: 600;
}
.mid-top {
  padding: 16px 20px;
  border-radius: 6.25rem;
  background-color: var(--primary-color);
  color: #121212;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
}
.mid-top:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  transition: all 0.3s ease-in-out;
}
.white-star {
  filter: brightness(0) invert(1);
}
.review-main {
  padding-top: 80px;
}
.number-circle {
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 7px;
  font-weight: 600;
}
.review-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
}
.review-main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.review-star-img,
.number-review-circle,
.review {
  padding: 10px;
}
.first-top-review {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.round-img img {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  border-radius: 50%;
  padding-right: 10px;
}
.review-des {
  font-size: 16px;
  font-weight: 500;
}
.slide-2 {
  background: var(--background-color);
  width: 100%;
  height: auto;
  margin: 0;
}
.second-heading {
  margin: 0;
  text-align: center;
  color: var(--text-color);
  padding-top: 128px;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  padding-bottom: 110px;
}
.column-container {
  display: flex;
  justify-content: space-evenly;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 120px;
}
.column-heading {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.1rem;
  padding: 2.5rem;
  text-align: center;
}
.column-1 {
  background-image: linear-gradient(
      180deg,
      rgba(95, 114, 82, 0.75),
      rgba(95, 114, 82, 0.75)
    ),
    url("slide-2-img/grid-pic-1.jpg");

  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 330px;
  height: 330px;
  background-position: center;

  border-radius: 10px;
  display: flex;
  align-items: center; /* Vertically centers the text */
  justify-content: center;
}
.column-2 {
  background-image: linear-gradient(
      180deg,
      rgba(95, 114, 82, 0.75),
      rgba(95, 114, 82, 0.75)
    ),
    url("slide-2-img/grid-pic-2.jpg");

  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 330px;
  height: 330px;
  background-position: center;

  border-radius: 10px;
  display: flex;
  align-items: center; /* Vertically centers the text */
  justify-content: center;
}
.column-3 {
  background-image: linear-gradient(
      180deg,
      rgba(95, 114, 82, 0.75),
      rgba(95, 114, 82, 0.75)
    ),
    url("slide-2-img/grid-pic-3.jpg");

  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 330px;
  height: 330px;
  background-position: center;

  border-radius: 10px;
  display: flex;
  align-items: center; /* Vertically centers the text */
  justify-content: center;
}
.column-4 {
  background-image: linear-gradient(
      180deg,
      rgba(95, 114, 82, 0.75),
      rgba(95, 114, 82, 0.75)
    ),
    url("slide-2-img/grid-pic-4.jpg");

  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 330px;
  height: 330px;
  background-position: center;

  border-radius: 10px;
  display: flex;
  align-items: center; /* Vertically centers the text */
  justify-content: center;
}
.prog-specs {
  display: flex;
}
.right-description-1 img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 19px;
}
.program-descriptions-container-one {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
.name-of-prog {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 500;
  background-color: var(--background-color);
  padding: 12px 15px;
  border: 2px solid var(--decor-color);
  border-radius: 19px;
}
.prog-descr {
  color: var(--text-color);
  font-size: 48px;
}
.prog-ex {
  color: var(--text-color);
  font-size: 18px;
  padding-left: 10px;
}
.mini-descrip {
  font-size: 16px;
  color: var(--text-color);

  background-color: #2f2f2f;
  padding: 15px;
  border-radius: 0.375rem;
  border: none;
}
.slide-3 {
  background-color: #5f7252;
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}
.member-text {
  border: 2px solid var(--text-color);
  border-radius: 6.25rem;
  color: var(--text-color);
  padding: 15px 25px;
  background-color: var(--second-background-color);
  font-size: 16px;
  font-weight: 500;
}
.membership-heading {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  color: var(--text-color);
}
.membership-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.membership-column-1 {
  background-color: var(--text-color);
  padding: 40px;
  border-radius: 20px;
  width: 350px;
}
.mont-membership {
  color: black;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}
.price {
  color: var(--second-background-color);
  font-size: 2.3125rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: -3px;
}
.black-text-price {
  color: black;
  font-size: 22px;
}
.tick-price {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.price-tick {
  padding-left: 10px;
  font-size: 18px;
  color: black;
}
.grey-price {
  color: #7f7f7f;
}
.month-trial {
  padding: 13px 19px;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 20px;
}
.rev-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.bottom-membership-sontainer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 20px;
}
.bottom-1 {
  padding: 35px;
  border: 3px solid var(--text-color);
  margin-top: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: #818f78;
}

.green-star {
  filter: invert(61%) sepia(100%) saturate(480%) hue-rotate(358deg)
    brightness(103%) contrast(101%);
}
.reviewer-tex {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}
.slide-4 {
  background-color: var(--background-color);
  width: 100%;
  height: auto;
  margin: 0;
  text-align: center;
}
.about {
  padding: 15px 22px;
  margin-top: 30px;
  border-radius: 30px;
  border: 3px solid var(--second-background-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
}
.about-heading {
  text-align: center;
  color: var(--text-color);
  padding-top: 10px;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}
.about-para {
  margin: 0;
  color: var(--text-color);
  font-size: 17px;
  font-weight: 400;
}

.sign-up-container {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.left-form {
  display: block;
  margin: 30px;
  padding-right: 40px;
}
.right-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
input,
select {
  height: 3.5rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.75rem;
  font-weight: 500;
  color: var(--background-color);
  line-height: 1.42857143;
  width: 100%;
}

.sign-up-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  color: var(--text-color);
  padding: 20px;
}
.signup-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: center;

  border-radius: 20px;
}
.submit-button {
  padding: 8px 16px;
  background-color: var(--primary-color);
  font-size: 14px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.submit-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  font-weight: 500;
}
.gym-footer-logo {
  display: flex;
  justify-content: center;
}
.footer-logo-heading {
  font-size: 38px;
}
.footer-logo {
  width: 60px;
  height: 60px;
}
.name {
  color: var(--text-color);
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
}
.name:hover {
  color: var(--primary-color);
  font-weight: 500;
}
.top-sector {
  display: flex;
  justify-content: center;
}
.nav-heading {
  color: var(--text-color);
  margin-bottom: 5px;
  font-size: 19px;
}
